@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}
a{
  text-decoration: none;
}

.hero-container {
  margin-top: -120px;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/hero.jpeg);
  background-clip: border-box;
  background-position: top;
  background-size: cover;
}

.point-bar{
  margin-top: 10px;
  font-weight: 700;
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.design-img-container {
  background-color: aqua;
  width: 100%;
  aspect-ratio: 1;
}

.design-img-container img {
  width: 100%;
  width: fit;
  border: 2px solid;
}